@model ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if(Model.StudentList.Any())
 {
<table class="table table-bordered table-hover">
    <tr>
        <th>
            Roll No
        </th>
         <th>
            Student Name
        </th>
        <th>
            Standard
        </th>
    </tr>
    @foreach (var item in Model.StudentList)
    {
        <tr>
            <td>@item.RollNo</td>
            <td>@item.Sname</td>
            <td>@item.Standard</td>
        </tr>
    }
    </table>
}
else
{
    <h4>No Students found</h4>
}
<br />
@if (Model.TeacherList.Any())
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Id
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                City
            </th>
        </tr>
        @foreach (var item in Model.TeacherList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Tname</td>
                <td>@item.City</td>
            </tr>
        }
    </table>
}
else
{
    <h4>No Students found</h4>
}