@model IEnumerable<DropDownSingle.Models.Students>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (TempData["insertMsg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["insertMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["updateMsg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["updateMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["DeleteMsg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success</strong> @TempData["DeleteMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rollno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rollno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rollno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
